{% load article_tag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog List Page</title>
</head>
<body>
    <h1>Blog List</h1>
    {% filter_all xx yy %}
    查询条件:<br/>
    语言:
    {% for item in article_type_list %}
        <a href="/blog/article-{{ item.0 }}-{{ arg_dict.category_id }}.html">{{ item.1 }}</a>
    {% endfor %}

    <br>类别：
    {% for row in category_list %}
        <a href="/blog/article-{{ arg_dict.article_type_id }}-{{ row.id }}.html">{{ row.caption }}</a>
    {% endfor %}
    <br>
    结果:
    <ul>
    {% for row in result %}
        <li><{{ row.id }}> {{ row.title }} -- {{ row.content }}</li>
    {% endfor %}
    </ul>


</body>
</html>