<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add user detail</title>
</head>
<body>
    <h3>add user detail</h3>
    <form method="post" action="/user/add-detail/">
        {% csrf_token %}
        <p>{{ obj.username.label }} {{ obj.username }}{{ obj.error.username.0 }}</p>
        <p>{{ obj.password.label }}{{ obj.password }} {{ obj.error.password.0 }}</p>
        <p>{{ obj.email.label }}{{ obj.email }} {{ obj.error.email }}</p>
        <p>{{ obj.age.label }}{{ obj.age }} {{ obj.error.age.0 }}</p>
        <input type="submit"><br/>
    </form>

<script src="/static/jquery-1.12.4.js"></script>
<script src="/static/jquery.cookie.js"></script>

</body>
</html>