<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add user</title>
</head>
<body>
    <h3>add user</h3>
    <form method="post" action="/user/add/">
        {% csrf_token %}
        username:<input name="username" type="text"><br/>
        password:<input name="password" type="text"><br/>
        <input type="submit"><br/>
        <input id="byajax" type="button" value="Submit By Ajax"/>
    </form>

<script src="/static/jquery-1.12.4.js"></script>
<script src="/static/jquery.cookie.js"></script>

<script>

    $.ajaxSetup({
        beforeSend:function (xhr,settings) {
            xhr.setRequestHeader('X-CSRFtoken',$.cookie('csrftoken'));
        }
    });

    $("#byajax").click(function () {
        $.ajax({
            url:"/user/add/",
            type:"post",
            data:{"username":"test","password":"123456"},
            //header:{'X-CSRFtoken',$.cookie('csrftoken')},
            sucess:function (data) {

            }
        });
    });

</script>


</body>
</html>